<div class="container-fluid">
  <div class="text-center">
    <h1 class="mt-5">お問い合わせありがとうございます。</h1>
    <h2 class="mt-2">確認後、メールにてご返答致します。</h2>
    <%= link_to contacts_path do %>
      <h4 class="mt-4 mb-5">問い合わせ一覧に戻る</h4>
    <% end %>
  </div>
</div>
