<% if resource.errors.any? %>
  <div id="error_explanation" class="flash alert alert-danger text-center">
    <h4 style="color:red;">
      <%= resource.errors.count %>件のエラーがあります。
    </h4>
      <% resource.errors.full_messages.each do |message| %>
        <h6><%= message %></h6>
      <% end %>
  </div>
<% end %>
