<% if resource.errors.any? %>
  <div id="error_explanation">
    <h4 style="color:red;">
      <%= resource.errors.count %>件のエラーがあります。
    </h2>
    <ul style=" list-style: none;">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
