<div class="row">
  <div class="col-8 mx-auto">
    <h4><strong>会員一覧</strong></h4>

    <table class="table mt-4">
        <thead class="table-active">
          <tr>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
      <% @customers.each do |customer| %>
        <tbody>
          <tr>
            <td><%= customer.nickname %></td>
            <td><%= customer.email %></td>

          <% if customer.is_deleted == true %>
            <td class="text-secondary font-weight-bold">退会</td>
          <% else %>
            <td class="text-success font-weight-bold">有効</td>
          <% end %>
            <td><%= link_to "詳細", admin_customer_path(customer), class: "btn btn-sm btn-primary" %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>