<h2 class="text-center mt-4"><strong>〜会員一覧〜</strong></h2>
<div class="row-fluid">
  <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">

    <table class="table mt-4" style="border: 1px solid black;">
        <thead class="table-active">
          <tr>
            <th style="border: 1px solid black;">ニックネーム</th>
            <th style="border: 1px solid black;">メールアドレス</th>
            <th style="border: 1px solid black;">ステータス</th>
            <th style="border: 1px solid black;"></th>
          </tr>
        </thead>
      <% @customers.each do |customer| %>
        <tbody>
          <tr>
            <td><%= customer.nickname %></td>
            <td><%= customer.email %></td>

          <% if customer.is_deleted == true %>
            <td class="text-secondary font-weight-bold">退会</td>
          <% else %>
            <td class="text-success font-weight-bold">有効</td>
          <% end %>
            <td><%= link_to "詳細", admin_customer_path(customer), class: "btn btn-sm btn-primary" %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
<div class="row-fluid">
  <div class="col-12 mt-3"><%= paginate @customers, theme: 'bootstrap-5' %></div>
</div>