<div class='container'>
  <div class='row'>
    <div class="col-md-12">
      <h4 class="mt-5"><strong>遊び場一覧</strong></h4>
      <div class="row mx-auto pb-5">
        <% @parks.each do |park| %>
          <%= link_to park_path(park.id), class: "col-3 text-center text-dark text-nowrap mt-5" do %>
            <%= image_tag park.images, :size => '200x150' %><br>
            <%= park.name %><br>
          <% end %>
        <% end %>
     </div>
    </div>
  </div>
</div>