/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #a8c8f0;     /*背景の色を変える*/
  border-radius: 50%;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 50%;    /*角を丸くする*/
}

.pagination {
  justify-content: center;
}

*{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

.form{
   width: 450px;
}

.top{
  padding: 0;
}

.top_image{
  width: 100%;
  height: auto;
}

.logo_image{
  width: 250px;
  height: 250px;
}

.main1{
  width: 350px;
  height: 380px;
  position:absolute; top:30px; left:20px;
  color:#FFF;
  background-color:rgba(0,0,0,0.3);
  border-radius:30px;
}

.main2{
  width: 900px;
  height: 120px;
  position:absolute; bottom:50px; right:3%;
  color:#FFF;
  background-color:rgba(0,0,0,0.3);
  border-radius:30px;
}

.main2-text{
  font-size: 30px;
}

.show_map{
  width: 400px;
  height: 350px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 991px) {

.form{
   width: 300px;
}

.logo_image{
  width: 150px;
  height: 150px;
}

.main1{
  width: 350px;
  height: 280px;
  position:absolute; top:20px; left:20px;
  color:#FFF;
  background-color:rgba(0,0,0,0.3);
  border-radius:30px;
}

.main2{
  width: 700px;
  height: 120px;
  position:absolute; bottom:30px; right:5%;
  color:#FFF;
  background-color:rgba(0,0,0,0.3);
  border-radius:30px;
}

.main2-text{
  font-size: 30px;
}

.main2 .form{
   width: 300px;
}
}

@media(min-width: 768px){
  a[href^="tel:"]{
    pointer-events: none;
  }
}

@media screen and (max-width: 760px) {
.form{
   width: 200px;
}

.logo_image{
  width: 80px;
  height: 80px;
}

.main1{
  width: 220px;
  height: 170px;
  position:absolute; top:5%; left:5%;
  color:#FFF;
  background-color:rgba(0,0,0,0.3);
  border-radius:30px;
  font-size: 13px;
}

.main2{
  width: 100%;
  height: auto;
  color:#FFF;
  position: static;
  background-color: transparent;
  border-radius:30px;
  color: black;

}

.main2-text{
  font-size: 20px;
}

.main2 .form{
   width: 300px;
}
}

@media screen and (max-width: 440px) {
.show_map{
  width: 100%;
}
}
