<% if flash[:alert] %>
  <div class="flash alert alert-danger text-center"><%= flash[:alert] %></div>
<% end %>
<script>
  $(function() {
    setTimeout("$('.flash').fadeOut('slow')", 1500);
  });
</script>