<footer style="background-color: #737373;">
  <div class="row">
    <div class="col-12 mx-auto">
      <p class="text-center", style="color: white;"><%= image_tag "logo3.png", class: "mt-2", style: "width: 100px; height: 100px;" %><br>
        Kid's Park Searchは公園や児童館など<br>
        子どもと遊べる場所を探すためのマップ検索サイトです。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center", style="color: white;">© 2022 Kid's Park Search</div>
  </div>
</footer>